
    <form action="/cekiai" method="POST" >
    Data: <input type="date" name="cekioData" ><br><br>
    Pardaveju ID: <input type="number" name="cekioPardavejai" ><br><br>
    <table>
                    <tr> <b style="font-size: 20px;">Pardaveju sarasas</b>
                </tr>
            {{#each pardavejai}}
            <tr>
                <td> <a href="/pardavejas/{{id}}">{{id}}</a></td>
                <td> <a href="/pardavejas/{{id}}">{{pavadinimas}}</a></td>
                <td> {{alga}}</td>
                </tr>
            {{/each}}
            </table>
            </tbody>
    Mokejimu tipu ID: <input type="number" name="cekioMokejimoTipai" > <br><br>

    <table>
        <tr> <b style="font-size: 20px;">Pardaveju sarasas</b>
            <tr>
    {{#each mokejimuTipai}}
                <td> <a href="/mokejimuTipasOne/{{id}}">{{id}}</a></td>
                <td> <a href="/mokejimuTipasOne/{{id}}">{{pavadinimas}}</a></td>
                </tr>
            {{/each}}
    </table> <br>
 
    <input type="submit" value="Save">
    </form>
    <a href="/cekiai">Go back</a>
