<style>
    a {
        font-size: 25px;
        display: flex;
        padding: 10px;
        justify-content: center;
        
    }
    th {
        font-size: 30px;
        padding: 15px;
        
    }
</style>    
<a href="/naujasPardavejas.html" style="justify-content: left;">Prideti pardaveja</a>
        <table id="t">
            <thead>
                <tr>
                    <th style="border: 1px solid black;">ID</th>
                    <th>Pavadinimas</th>
                </tr>
                </thead>
                <tbody>
            {{#each pardavejai}}
            <tr>
                <td> <a href="/pardavejas/{{id}}">{{id}}</a></td>
                <td> <a href="/pardavejas/{{id}}">{{pavadinimas}}</a></td>
                <td> {{alga}}</td>
                 </td>
                 <td>

                <a href="/pardavejas/{{id}}/delete">Sudeginti</a>
                 </td>
                
                </tr>
            {{/each}}
            </table>
            </tbody>
<button><a href="/">Go back</a></button>
